ido-tth/main/default/flows/Book_Restaurant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Creates a Restaurant Booking allocated to the traveler&#39;s Next Trip (look up field on Contact)</description>
    <formulas>
        <name>RestConfirmationText</name>
        <dataType>String</dataType>
        <expression>&#39;OK &#39; + {!objContact.FirstName} + &#39;, you are all booked in to eat at &#39;+ {!objRecommendation.Name} + &#39; on &#39; +  TEXT({!When}) + &#39; at &#39; + {!Time} + &#39; and your confirmation number is &#39; + {!newBooking.tth_Booking_Confirmation__c}</expression>
    </formulas>
    <formulas>
        <name>RestNameandAddress</name>
        <dataType>String</dataType>
        <expression>{!objRecommendation.Name} + &#39; - &#39; + {!objRecommendation.tth_Address__c}</expression>
    </formulas>
    <interviewLabel>Book Restaurant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TTH - Book Restaurant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Restaurant_Booking</name>
        <label>Create Restaurant Booking</label>
        <locationX>489</locationX>
        <locationY>48</locationY>
        <assignRecordIdToReference>confirmedBookingID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Booking_Reference</targetReference>
        </connector>
        <inputAssignments>
            <field>tth_Booking_End__c</field>
            <value>
                <elementReference>When</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_Start__c</field>
            <value>
                <elementReference>When</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_Type__c</field>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Location__c</field>
            <value>
                <elementReference>RestNameandAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Time__c</field>
            <value>
                <elementReference>Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Traveler__c</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip__c</field>
            <value>
                <elementReference>nextTripId</elementReference>
            </value>
        </inputAssignments>
        <object>tth_Booking__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking_Reference</name>
        <label>Get Booking Reference</label>
        <locationX>647</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>confirmedBookingID</elementReference>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>newBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Booking_Reference__c</queriedFields>
        <queriedFields>tth_Booking_Confirmation__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Booking_Confirmation</name>
        <label>Booking Confirmation</label>
        <locationX>787</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RestConf</name>
            <extensionName>c:tth_scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>RestConfirmationText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Click here to view reservation {!newBooking.tth_Booking_Reference__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Booking_Time_and_Time</name>
        <label>Booking Time and Time</label>
        <locationX>326</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Restaurant_Booking</targetReference>
        </connector>
        <fields>
            <name>RestName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;{!objRecommendation.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RestHR</name>
            <extensionName>c:tth_horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary: &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!objRecommendation.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Address: &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!objRecommendation.tth_Address__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Booked under: &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!objContact.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>When</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>objTrip.tth_Trip_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>When</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Time</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1:30pm</stringValue>
            </defaultValue>
            <fieldText>Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Load_Contact_Recommendation_Next_Trip</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Load_Contact_Recommendation_Next_Trip</name>
        <label>Load Contact, Recommendation, Next Trip</label>
        <locationX>191</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Booking_Time_and_Time</targetReference>
        </connector>
        <flowName>SUB_Get_Contact_Recommendation_Next_Trip</flowName>
        <inputAssignments>
            <name>contextRecordId</name>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recommendationId</name>
            <value>
                <elementReference>recommendationId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>objContact</assignToReference>
            <name>objContactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objRecommendation</assignToReference>
            <name>objRecommendationRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objTrip</assignToReference>
            <name>objTripRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>confirmedBookingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>nextTripId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objRecommendation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation</objectType>
    </variables>
    <variables>
        <name>objTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>recommendationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
