ido-tth/main/default/flows/BOT_Load_Bookings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Bookings</name>
        <label>Add to Bookings</label>
        <locationX>303</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>objBookings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curBooking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Booking_IDs_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Booking_Date_Range</name>
        <label>Booking Date Range</label>
        <locationX>559</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Current_Future_Bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current / Future Bookings</defaultConnectorLabel>
        <rules>
            <name>Previous_bookings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDateRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Previous_Bookings</targetReference>
            </connector>
            <label>Previous bookings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_Found</name>
        <label>Check if Record Found</label>
        <locationX>493</locationX>
        <locationY>707</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBooking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Bookings</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Trip_provided</name>
        <label>If Trip provided</label>
        <locationX>274</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Load_Bookings_for_Trip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Load by Trip</defaultConnectorLabel>
        <rules>
            <name>Load_by_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objTrip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_Date_Range</targetReference>
            </connector>
            <label>Load by Contact</label>
        </rules>
    </decisions>
    <interviewLabel>BOT - Load Bookings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Load Bookings</label>
    <loops>
        <name>Booking_IDs_Loop</name>
        <label>Booking IDs Loop</label>
        <locationX>428</locationX>
        <locationY>456</locationY>
        <assignNextValueToReference>curBooking</assignNextValueToReference>
        <collectionReference>bookingIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoadBookingRecords</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Current_Future_Bookings</name>
        <label>Current / Future Bookings</label>
        <locationX>689</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_IDs_Loop</targetReference>
        </connector>
        <filters>
            <field>tth_Booking_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>bookingIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Booking_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Load_Bookings_for_Trip</name>
        <label>Load Bookings for Trip</label>
        <locationX>281</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_IDs_Loop</targetReference>
        </connector>
        <filters>
            <field>tth_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objTrip.Id</elementReference>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>bookingIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Booking_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Load_Previous_Bookings</name>
        <label>Load Previous Bookings</label>
        <locationX>439</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_IDs_Loop</targetReference>
        </connector>
        <filters>
            <field>tth_Booking_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>bookingIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Booking_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LoadBookingRecords</name>
        <label>LoadBookingRecords</label>
        <locationX>747</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curBooking.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>curBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Booking_Type__c</queriedFields>
        <queriedFields>tth_Booking_Start_Date__c</queriedFields>
        <queriedFields>tth_Booking_End_Date__c</queriedFields>
        <queriedFields>tth_Booking_Reference__c</queriedFields>
        <queriedFields>tth_Location__c</queriedFields>
        <queriedFields>tth_Bot_Summary__c</queriedFields>
        <queriedFields>tth_Rebooking_Required__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>If_Trip_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>objBookings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>objTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>varBookingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Previous, Current, Future</description>
        <name>varDateRange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
