ido-tth/main/default/flows/BOT_Date_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Booking_Date</name>
        <label>Set Booking Date</label>
        <locationX>133</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>objBooking.tth_Booking_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objBooking.tth_Booking_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Trip_Dates</name>
        <label>Set Trip Dates</label>
        <locationX>316</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>objTrip.tth_Trip_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objTrip.tth_Trip_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Trip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Booking_Dates</name>
        <label>Update Booking Dates</label>
        <locationX>802</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>objBooking.tth_Booking_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objBooking.tth_Booking_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedBookings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objBooking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Booking</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_trip_or_booking</name>
        <label>Change trip or booking</label>
        <locationX>218</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Set_Trip_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trip</defaultConnectorLabel>
        <rules>
            <name>Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objBooking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Booking_Date</targetReference>
            </connector>
            <label>Booking</label>
        </rules>
    </decisions>
    <interviewLabel>BOT - Date Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Date Change</label>
    <loops>
        <name>All_Bookings</name>
        <label>All Bookings</label>
        <locationX>601</locationX>
        <locationY>442</locationY>
        <assignNextValueToReference>objBooking</assignNextValueToReference>
        <collectionReference>Load_Bookings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Booking_Dates</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find all bookings under this trip that have not been canceled</description>
        <name>Load_Bookings</name>
        <label>Load Bookings</label>
        <locationX>464</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Bookings</targetReference>
        </connector>
        <filters>
            <field>tth_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objTrip.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tth_Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Booking_Start__c</queriedFields>
        <queriedFields>tth_Booking_End__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>133</locationX>
        <locationY>426</locationY>
        <inputReference>objBooking</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Booking</name>
        <label>Update Related Booking</label>
        <locationX>702</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>All_Bookings</targetReference>
        </connector>
        <inputReference>objBooking</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trip</name>
        <label>Update Trip</label>
        <locationX>465</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Load_Bookings</targetReference>
        </connector>
        <inputReference>objTrip</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Change_trip_or_booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>objTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedBookings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
</Flow>
