ido-tth/main/default/flows/BOT_Accept_Rebooking_Suggestion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>276</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Take the rebooking suggestion, make it a new booking with value of bookingStatus variable and cancel original Booking</description>
    <interviewLabel>BOT - Accept Rebooking Suggestion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Accept Rebooking Suggestion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Booking</name>
        <label>Create new Booking</label>
        <locationX>189</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>objNewBooking.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Load_new_booking_confirmation_code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>tth_Allocated_Room__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Allocated_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Allocated_Seat__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Allocated_Seat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Amenities_pl__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Amenities_pl__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_End__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Booking_End__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_Start__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Booking_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_Type__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Booking_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Fare_Basis_Code__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Fare_Basis_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Flight_Number__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Flight_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Location__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Original_Booking__c</field>
            <value>
                <elementReference>objOriginalBooking.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Requests__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Requests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Status__c</field>
            <value>
                <elementReference>bookingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Time__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Travel_Class__c</field>
            <value>
                <elementReference>objSelectedSuggestion.tth_Travel_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Traveler__c</field>
            <value>
                <elementReference>objTrip.tth_Primary_Traveler__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip__c</field>
            <value>
                <elementReference>objTrip.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tth_Booking__c</object>
    </recordCreates>
    <recordLookups>
        <name>Load_new_booking_confirmation_code</name>
        <label>Load new booking confirmation code</label>
        <locationX>380</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objNewBooking.Id</elementReference>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>objNewBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Booking_Confirmation__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_new_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objNewBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>objOriginalBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>objSelectedSuggestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Suggested_Booking__c</objectType>
    </variables>
    <variables>
        <name>objTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
</Flow>
