ido-tth/main/default/flows/BOT_Create_Trip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>communityURL</name>
        <label>communityURL</label>
        <locationX>373</locationX>
        <locationY>138</locationY>
        <actionName>tthTravelerCommunityUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Start_URL</targetReference>
        </connector>
        <inputParameters>
            <name>communityName</name>
            <value>
                <elementReference>TravelerCommunityName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>travelerCommunityURL</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Start_URL</name>
        <label>Add Start URL</label>
        <locationX>510</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>travelerCommunityURL</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/s/login/?startURL=%2Fconsumer%2Fs%2Fdetail%2F</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Trip_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Trip_Record_ID</name>
        <label>Add Trip Record ID</label>
        <locationX>650</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>travelerCommunityURL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createdTripRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>BOT - Create Trip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Create Trip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Trip</name>
        <label>Create New Trip</label>
        <locationX>225</locationX>
        <locationY>143</locationY>
        <assignRecordIdToReference>createdTripRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>communityURL</targetReference>
        </connector>
        <inputAssignments>
            <field>tth_Nature_of_Trip__c</field>
            <value>
                <elementReference>natureOfTrip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Primary_Traveler__c</field>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip_Destination__c</field>
            <value>
                <elementReference>tripDestination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip_End__c</field>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip_Origin__c</field>
            <value>
                <elementReference>tripOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip_Start__c</field>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip_Status__c</field>
            <value>
                <elementReference>tripStatus</elementReference>
            </value>
        </inputAssignments>
        <object>tth_Trip__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_New_Trip</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accommodationRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdTripRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>natureOfTrip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TravelerCommunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Consumer</stringValue>
        </value>
    </variables>
    <variables>
        <name>travelerCommunityURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>travelMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripActivities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripBudget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripLandscape</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </variables>
    <variables>
        <name>tripTemperature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripVibe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
