ido-tth/main/default/flows/BOT_Flow_Template_Get_Contact_ID_for_Async_Messages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Chat</name>
        <label>Assign Chat</label>
        <locationX>564</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>strChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_LiveChat_Transcript</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message</name>
        <label>Assign Message</label>
        <locationX>245</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>strChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>312</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>contactFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Not_Found</name>
        <label>Not Found</label>
        <locationX>511</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>contactFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Contact_ID</name>
        <label>Check Contact ID</label>
        <locationX>402</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Found</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Session_Channel</name>
        <label>Check Session Channel</label>
        <locationX>388</locationX>
        <locationY>101</locationY>
        <defaultConnector>
            <targetReference>Assign_Chat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chat</defaultConnectorLabel>
        <rules>
            <name>Messaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRoutableId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Message</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
    </decisions>
    <description>To be used as a flow utility - will look across both LiveChat and LiveMessage and resolve down to a single contact record.</description>
    <interviewLabel>BOT - Flow Template - Get Contact ID for Async Messages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Utility - Get Contact ID for Async Messages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LiveChat_Transcript</name>
        <label>Get LiveChat Transcript</label>
        <locationX>564</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRoutableId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>strContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>120</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRoutableId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>strContactId</assignToReference>
            <field>EndUserContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMessagingUserId</assignToReference>
            <field>MessagingEndUserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>251</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strMessagingUserId</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputReference>objMessagingUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MessagingChannelId</queriedFields>
        <queriedFields>MessageType</queriedFields>
        <queriedFields>MessagingPlatformKey</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Check_Session_Channel</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objMessagingUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>strChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </variables>
    <variables>
        <name>strContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strMessagingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strRoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Mw</stringValue>
        </value>
    </variables>
    <variables>
        <name>varMessageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMessagingChannelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMessagingPlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
