ido-tth/main/default/flows/BOT_Load_Suggested_Bookings_for_Trip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Suggested_Bookings</name>
        <label>Set Suggested Bookings</label>
        <locationX>331</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>suggestedBookings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Suggested_Bookings</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>BOT - Load Suggested Bookings for Trip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Load Suggested Bookings for Trip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Suggested_Bookings</name>
        <label>Load Suggested Bookings</label>
        <locationX>171</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Suggested_Bookings</targetReference>
        </connector>
        <filters>
            <field>tth_Is_Suggested_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tth_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTrip.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tth_Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Booking_Type__c</queriedFields>
        <queriedFields>tth_Time__c</queriedFields>
        <queriedFields>tth_Flight_Number__c</queriedFields>
        <queriedFields>tth_Location__c</queriedFields>
        <queriedFields>tth_Record_Locator__c</queriedFields>
        <queriedFields>tth_Booking_Confirmation__c</queriedFields>
        <queriedFields>tth_Change_Summary__c</queriedFields>
        <queriedFields>tth_Bot_Summary__c</queriedFields>
        <queriedFields>tth_Booking_Start_Date__c</queriedFields>
        <queriedFields>tth_Booking_Start__c</queriedFields>
        <sortField>tth_Booking_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Load_Suggested_Bookings</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>selectedTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>suggestedBookings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
</Flow>
