ido-tth/main/default/flows/BOT_First_Flight_for_Trip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>First_Flight_Number</name>
        <label>First Flight Number</label>
        <locationX>357</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>firstFlightNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Flight_for_Trip.tth_Flight_Number__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Get&#39;s the first flight listed for the specified trip</description>
    <interviewLabel>BOT - First Flight for Trip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - First Flight for Trip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_First_Flight_for_Trip</name>
        <label>Get First Flight for Trip</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Flight_Number</targetReference>
        </connector>
        <filters>
            <field>tth_Booking_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flight</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTrip.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tth_Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Flight_Number__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_First_Flight_for_Trip</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>firstFlightNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
</Flow>
