ido-tth/main/default/flows/BOT_Add_ons_for_Flights.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Updated_Bookings_Collection</name>
        <label>Add to Updated Bookings Collection</label>
        <locationX>504</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>updatedBookings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curBooking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Bookings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Add_On</name>
        <label>Update Add-On</label>
        <locationX>674</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>curBooking.tth_Add_ons__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>varAddOnType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedFlightNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curBooking.tth_Flight_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Bookings_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the desired add-on already is part of the booking</description>
        <name>Check_for_Add_on</name>
        <label>Check for Add-on</label>
        <locationX>514</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Update_Add_On</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need to add</defaultConnectorLabel>
        <rules>
            <name>Already_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBooking.tth_Add_ons__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varAddOnType</elementReference>
                </rightValue>
            </conditions>
            <label>Already added</label>
        </rules>
    </decisions>
    <description>Update the Add-on multi-select picklist for flights</description>
    <interviewLabel>BOT - Add-ons for Flights {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Add-ons for Flights</label>
    <loops>
        <name>Loop_thru_Bookings</name>
        <label>Loop thru Bookings</label>
        <locationX>200</locationX>
        <locationY>231</locationY>
        <assignNextValueToReference>curBooking</assignNextValueToReference>
        <collectionReference>Load_Flight_Bookings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Add_on</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bookings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Flight_Bookings</name>
        <label>Load Flight Bookings</label>
        <locationX>201</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Bookings</targetReference>
        </connector>
        <filters>
            <field>tth_Booking_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flight</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objTrip.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tth_Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Add_ons__c</queriedFields>
        <queriedFields>tth_Flight_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bookings</name>
        <label>Update Bookings</label>
        <locationX>202</locationX>
        <locationY>420</locationY>
        <inputReference>updatedBookings</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Load_Flight_Bookings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>objTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>transportTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedBookings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>updatedFlightNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAddOnType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
