ido-tth/main/default/flows/BOT_Load_Trips.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Trip</name>
        <label>Add Trip to List</label>
        <locationX>1051</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>objTrips</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curTrip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateTrips</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_record_loaded</name>
        <label>Check if record loaded</label>
        <locationX>1234</locationX>
        <locationY>617</locationY>
        <defaultConnectorLabel>Record not found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curTrip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Trip</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_Range_All</name>
        <label>Date Range</label>
        <locationX>296</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Current_Future_Trips</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current / Future</defaultConnectorLabel>
        <rules>
            <name>Previous_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDateRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Trips</targetReference>
            </connector>
            <label>Previous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_Range_business</name>
        <label>Date Range</label>
        <locationX>285</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Current_Future_Business_Trips</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current / Future</defaultConnectorLabel>
        <rules>
            <name>Previous_business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDateRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Past</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Business_Trips</targetReference>
            </connector>
            <label>Previous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_Range_Personal</name>
        <label>Date Range</label>
        <locationX>285</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>Current_Future_Personal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current / Future</defaultConnectorLabel>
        <rules>
            <name>PreviousPersonal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDateRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Personal_Trips</targetReference>
            </connector>
            <label>Previous</label>
        </rules>
    </decisions>
    <decisions>
        <description>Look up business, pleasure or all types of trips?</description>
        <name>Trip_Type</name>
        <label>Trip Type</label>
        <locationX>142</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Date_Range_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All</defaultConnectorLabel>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTripType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Range_business</targetReference>
            </connector>
            <label>Business</label>
        </rules>
        <rules>
            <name>Personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTripType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Range_Personal</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
    </decisions>
    <description>Based on input variables, will load trips for the specified contact ID</description>
    <interviewLabel>BOT - Load Trips {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Load Trips</label>
    <loops>
        <description>This is to have a smart and single place to edit the fields that we want output</description>
        <name>IterateTrips</name>
        <label>IterateTrips</label>
        <locationX>875</locationX>
        <locationY>624</locationY>
        <assignNextValueToReference>curTrip</assignNextValueToReference>
        <collectionReference>tripIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoadTripDetails</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Current_Future_Business_Trips</name>
        <label>Current / Future Business Trips</label>
        <locationX>517</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateTrips</targetReference>
        </connector>
        <filters>
            <field>tth_Nature_of_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Business</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Primary_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Trip_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>tripIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Trip_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Current_Future_Personal</name>
        <label>Current / Future Personal</label>
        <locationX>513</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateTrips</targetReference>
        </connector>
        <filters>
            <field>tth_Nature_of_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Primary_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Trip_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>tripIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Trip_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Current_Future_Trips</name>
        <label>Current / Future Trips</label>
        <locationX>515</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateTrips</targetReference>
        </connector>
        <filters>
            <field>tth_Primary_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Trip_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>tripIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Trip_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LoadTripDetails</name>
        <label>LoadTripDetails</label>
        <locationX>1051</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_record_loaded</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curTrip.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Trip_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>curTrip</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Trip_Origin__c</queriedFields>
        <queriedFields>tth_Trip_Destination__c</queriedFields>
        <queriedFields>tth_Trip_Start_Date__c</queriedFields>
        <queriedFields>tth_Nature_of_Trip__c</queriedFields>
        <queriedFields>tth_Primary_Traveler__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Previous_Business_Trips</name>
        <label>Previous Business Trips</label>
        <locationX>515</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateTrips</targetReference>
        </connector>
        <filters>
            <field>tth_Nature_of_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Primary_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Trip_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>tripIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Trip_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Previous_Personal_Trips</name>
        <label>Previous Personal Trips</label>
        <locationX>508</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateTrips</targetReference>
        </connector>
        <filters>
            <field>tth_Nature_of_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Primary_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Trip_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>tripIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Trip_Start__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Previous_Trips</name>
        <label>Previous Trips</label>
        <locationX>512</locationX>
        <locationY>833</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateTrips</targetReference>
        </connector>
        <filters>
            <field>tth_Primary_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tth_Trip_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>tripIds</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>tth_Trip_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Trip_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>faultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objTrips</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>tripIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Previous, Current, Future</description>
        <name>varDateRange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Business, Personal, All</description>
        <name>varTripType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All</stringValue>
        </value>
    </variables>
</Flow>
