ido-tth/main/default/flows/BOT_Update_Booking_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Booking_Status</name>
        <label>Update Booking Status</label>
        <locationX>186</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>selectedBooking.tth_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bookingStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Confirmation_ID</name>
        <label>Update Confirmation ID</label>
        <locationX>497</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>confirmationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedBooking.tth_Ticket_ID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>BOT - Update Booking Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Update Booking Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>329</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Update_Confirmation_ID</targetReference>
        </connector>
        <inputReference>selectedBooking</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Update_Booking_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Confirmed</stringValue>
        </value>
    </variables>
    <variables>
        <name>confirmationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
</Flow>
