ido-tth/main/default/flows/Get_Traveler_Contact_and_Next_Trip_IDs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Contact_ID</name>
        <label>Set Contact ID</label>
        <locationX>304</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_Trip_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>480</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No Idea</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Person_Account</targetReference>
            </connector>
            <label>Is Person Account</label>
        </rules>
        <rules>
            <name>Is_Contact_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_ID</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
        <rules>
            <name>Is_Chat_Transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Chat_Transcript</targetReference>
            </connector>
            <label>Is Chat Transcript</label>
        </rules>
    </decisions>
    <interviewLabel>Get Traveler Contact and Next Trip IDs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TTH - SUB FLOW - Get Traveler Contact and Next Trip IDs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Next_Trip_ID</name>
        <label>Get Next Trip ID</label>
        <locationX>487</locationX>
        <locationY>631</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>tripId</assignToReference>
            <field>tth_Next_Trip__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Load_Chat_Transcript</name>
        <label>Load Chat Transcript</label>
        <locationX>487</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Trip_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Load_Person_Account</name>
        <label>Load Person Account</label>
        <locationX>670</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Trip_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>488</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
