ido-tth/main/default/flows/SUB_Get_Contact_Recommendation_Next_Trip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Recommendation_ID_provided</name>
        <label>Recommendation ID provided</label>
        <locationX>179</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_and_Next_Trip_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Recommendation ID</defaultConnectorLabel>
        <rules>
            <name>Rec_ID_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recommendationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Recommendation</targetReference>
            </connector>
            <label>Rec ID provided</label>
        </rules>
    </decisions>
    <description>Sub flow used by mainly NBA flows, provide record context ID (contact or person account) and recommendation ID and it returns Contact, Trip (their next trip) and Recommendation objects.
Recommendation ID parameter is optional</description>
    <interviewLabel>SUB - Get Contact, Recommendation, Next Trip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TTH - SUBFLOW - Get Contact, Recommendation, Next Trip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Next_Trip</name>
        <label>Load Next Trip</label>
        <locationX>715</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tripId</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>objTripRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>tth_Trip_Name__c</queriedFields>
        <queriedFields>tth_Trip_Status__c</queriedFields>
        <queriedFields>tth_Trip_Origin__c</queriedFields>
        <queriedFields>tth_Trip_Destination__c</queriedFields>
        <queriedFields>tth_Trip_Start__c</queriedFields>
        <queriedFields>tth_Trip_Start_Date__c</queriedFields>
        <queriedFields>tth_Trip_End__c</queriedFields>
        <queriedFields>tth_Trip_End_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Recommendation</name>
        <label>Load Recommendation</label>
        <locationX>184</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_and_Next_Trip_IDs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recommendationId</elementReference>
            </value>
        </filters>
        <object>Recommendation</object>
        <outputReference>objRecommendationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ImageId</queriedFields>
        <queriedFields>tth_Location__c</queriedFields>
        <queriedFields>tth_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Traveler_Record</name>
        <label>Load Traveler Record</label>
        <locationX>566</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_Next_Trip</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>tth_preference_air_Special_Meals__c</queriedFields>
        <queriedFields>tth_Loyalty_Status__c</queriedFields>
        <queriedFields>tth_Traveler_Value_Score__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Recommendation_ID_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>From the record context get the two main IDs</description>
        <name>Get_Contact_and_Next_Trip_IDs</name>
        <label>Get Contact and Next Trip IDs</label>
        <locationX>437</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Load_Traveler_Record</targetReference>
        </connector>
        <flowName>Get_Traveler_Contact_and_Next_Trip_IDs</flowName>
        <inputAssignments>
            <name>contextRecordId</name>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <name>contactId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tripId</assignToReference>
            <name>tripId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objRecommendationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Recommendation</objectType>
    </variables>
    <variables>
        <name>objTripRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>recommendationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tripId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
