ido-tth/main/default/flows/tth_BOT_Update_Trip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>end</name>
        <label>end</label>
        <locationX>878</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>none</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Trip_Status</name>
        <label>Update Trip Status</label>
        <locationX>219</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>selectedTrip.tth_Trip_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTripStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Trip</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Bookings</name>
        <label>Update Bookings?</label>
        <locationX>385</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Related_Bookings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the specified trip status as well as option to update related bookings</description>
    <interviewLabel>BOT - Update Trip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Update Trip status</label>
    <loops>
        <name>Go_through_bookings</name>
        <label>Go through bookings</label>
        <locationX>521</locationX>
        <locationY>446</locationY>
        <assignNextValueToReference>curBooking</assignNextValueToReference>
        <collectionReference>Load_Related_Bookings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Booking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>end</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Related_Bookings</name>
        <label>Load Related Bookings</label>
        <locationX>388</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_bookings</targetReference>
        </connector>
        <filters>
            <field>tth_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTrip.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tth_Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Trip</name>
        <label>Update Trip</label>
        <locationX>393</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Update_Bookings</targetReference>
        </connector>
        <inputReference>selectedTrip</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Trip_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>689</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>Go_through_bookings</targetReference>
        </connector>
        <flowName>Bot_Update_Single_Booking</flowName>
        <inputAssignments>
            <name>varBooking</name>
            <value>
                <elementReference>curBooking</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStatus</name>
            <value>
                <elementReference>varBookingStatus</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>curBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>updateBooking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>varBookingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTripStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </variables>
</Flow>
