ido-tth/main/default/flows/tth_BOT_Load_Traveler_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>507</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Is_Loyalty_Member</name>
        <label>Set Loyalty Member Fields</label>
        <locationX>950</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>isLoyaltyMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoyaltyStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_Loyalty_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pointsToNextLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_Points_to_Next_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_Next_Level__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Is_Not_Loyalty_Member</name>
        <label>Is Not Loyalty Member</label>
        <locationX>462</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>isLoyaltyMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Key_Traveler_Fields</name>
        <label>Set Key Traveler Fields</label>
        <locationX>731</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>IsExperiencingDisruption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_Experiencing_Trip_Disruption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TripStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_Trip_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TripSubStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_Trip_Sub_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_Next_Trip__r.tth_Trip_Destination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>preferedDepartureAirport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_preference_air_Pref_Dep_Airport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mealPreference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContactRecord.tth_preference_air_Special_Meals__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Next_Trip</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Loyalty_Status</name>
        <label>Determine Loyalty Status</label>
        <locationX>735</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Set_Is_Not_Loyalty_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is NOT Loyalty Member</defaultConnectorLabel>
        <rules>
            <name>Is_Loyalty_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContactRecord.tth_Loyalty_Program_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Loyalty_Member</targetReference>
            </connector>
            <label>Is Loyalty Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contact_ID</name>
        <label>Has Contact ID</label>
        <locationX>192</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Load_Traveler_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact ID Provided</defaultConnectorLabel>
        <rules>
            <name>No_Contact_ID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <label>No Contact ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Next_Trip</name>
        <label>Has Next Trip?</label>
        <locationX>723</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Load_Next_Trip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContactRecord.tth_Next_Trip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Loyalty_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>BOT - Load Traveler Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT - Load Traveler Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Bookings</name>
        <label>Load Bookings</label>
        <locationX>614</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Key_Traveler_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>tth_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>Bookings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Booking_Reference__c</queriedFields>
        <queriedFields>tth_Booking_Type__c</queriedFields>
        <queriedFields>tth_Booking_End_Date__c</queriedFields>
        <queriedFields>tth_Booking_Start_Date__c</queriedFields>
        <queriedFields>tth_Location__c</queriedFields>
        <queriedFields>tth_Status__c</queriedFields>
        <queriedFields>tth_Trip__c</queriedFields>
        <sortField>tth_Booking_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Load_Next_Trip</name>
        <label>Load Next Trip</label>
        <locationX>905</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Loyalty_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objContactRecord.tth_Next_Trip__c</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>objNextTrip</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Nature_of_Trip__c</queriedFields>
        <queriedFields>tth_Trip_Origin__c</queriedFields>
        <queriedFields>tth_Trip_Destination__c</queriedFields>
        <queriedFields>tth_Trip_Start_Date__c</queriedFields>
        <queriedFields>tth_Trip_End_Date__c</queriedFields>
        <queriedFields>tth_Trip_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Loaded the traveler record based on the input contact ID</description>
        <name>Load_Traveler_Record</name>
        <label>Load Traveler Record</label>
        <locationX>393</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_Trips</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>tth_Loyalty_Status__c</queriedFields>
        <queriedFields>tth_VIP_Traveler__c</queriedFields>
        <queriedFields>tth_Experiencing_Trip_Disruption__c</queriedFields>
        <queriedFields>tth_Trip_Stage__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>tth_Loyalty_Program_Number__c</queriedFields>
        <queriedFields>tth_Trip_Sub_Stage__c</queriedFields>
        <queriedFields>tth_Points_to_Next_Level__c</queriedFields>
        <queriedFields>tth_Next_Level__c</queriedFields>
        <queriedFields>tth_Next_Destination__c</queriedFields>
        <queriedFields>tth_Next_Trip__c</queriedFields>
        <queriedFields>tth_Lifetime_Loyalty_Points__c</queriedFields>
        <queriedFields>tth_Loyalty_Point_Balance__c</queriedFields>
        <queriedFields>tth_preference_air_Pref_Dep_Airport__c</queriedFields>
        <queriedFields>tth_preference_air_Special_Meals__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Trips</name>
        <label>Load Trips</label>
        <locationX>505</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_Bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>tth_Primary_Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>tth_Trip__c</object>
        <outputReference>Trips</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Trip_Origin__c</queriedFields>
        <queriedFields>tth_Trip_Destination__c</queriedFields>
        <queriedFields>tth_Trip_Start_Date__c</queriedFields>
        <queriedFields>tth_Trip_End_Date__c</queriedFields>
        <queriedFields>tth_Nature_of_Trip__c</queriedFields>
        <queriedFields>tth_Trip_Name__c</queriedFields>
        <sortField>tth_Trip_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_Contact_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Bookings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsExperiencingDisruption</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isLoyaltyMember</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoyaltyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mealPreference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Regular Meal</stringValue>
        </value>
    </variables>
    <variables>
        <name>NextDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objNextTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>pointsToNextLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>preferedDepartureAirport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trips</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>TripStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TripSubStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0036D000009n4rUQAQ</stringValue>
        </value>
    </variables>
</Flow>
