ido-tth/main/default/flows/tth_Rebook_Flight.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clear_Suggested_Bookings</name>
        <label>Clear Suggested Bookings</label>
        <locationX>592</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>SuggestedFlightsList</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSuggestion</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Look_Impacted_Flights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flights_Not_Found</name>
        <label>Flights Not Found</label>
        <locationX>298</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>SuggestedFlightsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Suggested_Flights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Suggested_Flights_Found</name>
        <label>Set Suggested Flights Found</label>
        <locationX>301</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>SuggestedFlightsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Suggested_Flights</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Suggested_Flight_Chosen</name>
        <label>Suggested Flight Chosen</label>
        <locationX>583</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>Clear_Suggested_Bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Flight Chosen</defaultConnectorLabel>
        <rules>
            <name>Yes_Flight_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSuggestion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Suggestion</targetReference>
            </connector>
            <label>Yes - Flight Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Suggested_Flights_Found</name>
        <label>Were Suggested Flights Found?</label>
        <locationX>60</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>Flights_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Flights Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Flights_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuggestedFlightsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Suggested_Flights_Found</targetReference>
            </connector>
            <label>Yes - Flights Found</label>
        </rules>
    </decisions>
    <description>TTH NBA flow action</description>
    <interviewLabel>Rebook - Flight {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TTH - Rebook - Flight</label>
    <loops>
        <name>Look_Impacted_Flights</name>
        <label>Look Impacted Flights</label>
        <locationX>403</locationX>
        <locationY>433</locationY>
        <assignNextValueToReference>curImpactedFlight</assignNextValueToReference>
        <collectionReference>ImpactedFlightsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Load_Suggested_Bookings</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DONE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Suggestion</name>
        <label>Selected Suggestion</label>
        <locationX>803</locationX>
        <locationY>601</locationY>
        <assignNextValueToReference>curSelectedSuggestion</assignNextValueToReference>
        <collectionReference>SelectedSuggestion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Load_Selected_Suggestion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_Suggested_Bookings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Base on Accepted Suggested Booking, create a new booking.</description>
        <name>Create_Suggested_Booking</name>
        <label>Create Suggested Booking</label>
        <locationX>1029</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Cancel_Original_Booking</targetReference>
        </connector>
        <inputAssignments>
            <field>tth_Allocated_Seat__c</field>
            <value>
                <elementReference>selectedSuggestionRecord.tth_Allocated_Seat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Amenities_pl__c</field>
            <value>
                <elementReference>selectedSuggestionRecord.tth_Amenities_pl__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_End__c</field>
            <value>
                <elementReference>selectedSuggestionRecord.tth_Booking_End__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_Start__c</field>
            <value>
                <elementReference>selectedSuggestionRecord.tth_Booking_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Booking_Type__c</field>
            <value>
                <stringValue>Flight</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Flight_Number__c</field>
            <value>
                <elementReference>selectedSuggestionRecord.tth_Flight_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Time__c</field>
            <value>
                <elementReference>selectedSuggestionRecord.tth_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Traveler__c</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tth_Trip__c</field>
            <value>
                <elementReference>objTrip.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tth_Booking__c</object>
    </recordCreates>
    <recordLookups>
        <description>Load all Flight Bookings for the specified trip that have been marked as impacted</description>
        <name>Load_Impacted_Flight_Bookings</name>
        <label>Load Impacted Flight Bookings</label>
        <locationX>406</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ImpactedFlightsScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <filters>
            <field>tth_Booking_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flight</stringValue>
            </value>
        </filters>
        <filters>
            <field>tth_Rebooking_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tth_Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objTrip.Id</elementReference>
            </value>
        </filters>
        <object>tth_Booking__c</object>
        <outputReference>ImpactedFlightsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Flight_Number__c</queriedFields>
        <queriedFields>tth_Booking_Start__c</queriedFields>
        <queriedFields>tth_Booking_Start_Date__c</queriedFields>
        <queriedFields>tth_Booking_End__c</queriedFields>
        <queriedFields>tth_Booking_End_Date__c</queriedFields>
        <queriedFields>tth_Allocated_Seat__c</queriedFields>
        <queriedFields>tth_Location__c</queriedFields>
        <queriedFields>tth_Booking_Reference__c</queriedFields>
        <queriedFields>tth_Change_Summary__c</queriedFields>
        <queriedFields>tth_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Selected_Suggestion</name>
        <label>Load Selected Suggestion</label>
        <locationX>1030</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Suggested_Booking</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curSelectedSuggestion.Id</elementReference>
            </value>
        </filters>
        <object>tth_Suggested_Booking__c</object>
        <outputReference>selectedSuggestionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Flight_Number__c</queriedFields>
        <queriedFields>tth_Booking_Start__c</queriedFields>
        <queriedFields>tth_Booking_End__c</queriedFields>
        <queriedFields>tth_Amenities_pl__c</queriedFields>
        <queriedFields>tth_Allocated_Seat__c</queriedFields>
        <queriedFields>tth_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Suggested_Bookings</name>
        <label>Load Suggested Bookings</label>
        <locationX>68</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Suggested_Flights_Found</targetReference>
        </connector>
        <filters>
            <field>tth_Related_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curImpactedFlight.Id</elementReference>
            </value>
        </filters>
        <object>tth_Suggested_Booking__c</object>
        <outputReference>SuggestedFlightsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>tth_Flight_Number__c</queriedFields>
        <queriedFields>tth_Booking_Start__c</queriedFields>
        <queriedFields>tth_Booking_Start_Date__c</queriedFields>
        <queriedFields>tth_Booking_End__c</queriedFields>
        <queriedFields>tth_Booking_End_Date__c</queriedFields>
        <queriedFields>tth_Time__c</queriedFields>
        <queriedFields>tth_Allocated_Seat__c</queriedFields>
        <queriedFields>tth_Change_Summary__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Original_Booking</name>
        <label>Cancel Original Booking</label>
        <locationX>1027</locationX>
        <locationY>442</locationY>
        <connector>
            <targetReference>Selected_Suggestion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curImpactedFlight.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tth_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>tth_Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Accept_our_Apologies</name>
        <label>Accept our Apologies</label>
        <locationX>276</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Load_Impacted_Flight_Bookings</targetReference>
        </connector>
        <fields>
            <name>FlightRebookIntro</name>
            <extensionName>c:tth_scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>{!objContact.FirstName}, please accept our apologies about the  disruption on your trip to {!objTrip.tth_Trip_Destination__c}.    ﻿Rest assured we are doing whatever we can to get your journey back on track.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DONE</name>
        <label>DONE</label>
        <locationX>678</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlightRebookScript</name>
            <extensionName>c:tth_scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>All your flights have been rebooked {!objContact.FirstName}    You&#39;re back on your way to {!objTrip.tth_Trip_Destination__c}.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>612</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ImpactedFlightsScreen</name>
        <label>ImpactedFlightsScreen</label>
        <locationX>403</locationX>
        <locationY>216</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Look_Impacted_Flights</targetReference>
        </connector>
        <fields>
            <name>FlightListScript</name>
            <extensionName>c:tth_scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>First, let me tell you which of your flights are impacted</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FlightTableHR</name>
            <extensionName>c:tth_horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImpactedFlightsTable</name>
            <extensionName>c:tth_datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom1</name>
                <value>
                    <elementReference>ImpactedFlightsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>tth_Flight_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>custom:custom20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Flight Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>tth_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Departure Time</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>tth_Booking_Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Departure Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>date-local</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Suggested_Flights</name>
        <label>Show Suggested Flights</label>
        <locationX>451</locationX>
        <locationY>738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Suggested_Flight_Chosen</targetReference>
        </connector>
        <fields>
            <name>SuggestedFlightScript</name>
            <extensionName>c:tth_scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Let me walk you through the list of suggested alternatives for flight number: {!curImpactedFlight.tth_Flight_Number__c}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuggestedFlightsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuggestedFlightsHR</name>
            <extensionName>c:tth_horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuggestedFlightsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuggestedFlightsTable</name>
            <extensionName>c:tth_datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom2</name>
                <value>
                    <elementReference>SuggestedFlightsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>tth_Flight_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>custom:custom20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Flight Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>tth_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Departure Time</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>tth_Booking_Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Departure Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>date-local</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>tth_Booking_End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Arrival Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_type</name>
                <value>
                    <stringValue>date-local</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_custom2</name>
                <value>
                    <elementReference>SelectedSuggestion</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>tth_Change_Summary__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Change</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSuggestion</assignToReference>
                <name>selectedRows_custom2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SuggestedFlightsList</assignToReference>
                <name>mydata_custom2</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuggestedFlightsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoFlightsFoundText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unfortunately there were no suggested alternatives for flight number: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!curImpactedFlight.tth_Flight_Number__c}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A manual flight search will be necessary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuggestedFlightsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>27</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Load_Contact_and_Trip</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Load_Contact_and_Trip</name>
        <label>Load Contact and Trip</label>
        <locationX>135</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Accept_our_Apologies</targetReference>
        </connector>
        <flowName>SUB_Get_Contact_Recommendation_Next_Trip</flowName>
        <inputAssignments>
            <name>contextRecordId</name>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>objContact</assignToReference>
            <name>objContactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objTrip</assignToReference>
            <name>objTripRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>003N000001ZuFQvIAN</stringValue>
        </value>
    </variables>
    <variables>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curImpactedFlight</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>curSelectedSuggestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Suggested_Booking__c</objectType>
    </variables>
    <variables>
        <description>Collection of all impacted flights for this trip</description>
        <name>ImpactedFlightsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objTrip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Trip__c</objectType>
    </variables>
    <variables>
        <name>reBookingConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Booking__c</objectType>
    </variables>
    <variables>
        <name>recommendationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSuggestion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Suggested_Booking__c</objectType>
    </variables>
    <variables>
        <name>selectedSuggestionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tth_Suggested_Booking__c</objectType>
    </variables>
    <variables>
        <name>SuggestedFlightsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SuggestedFlightsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>tth_Suggested_Booking__c</objectType>
    </variables>
    <variables>
        <name>tripId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a04N000000Kjer8IAB</stringValue>
        </value>
    </variables>
</Flow>
